!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7.ie6
//if IE 7
  html.no-js.lt-ie9.lt-ie8.ie7
//if IE 8
  html.no-js.lt-ie9.ie8
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    title 学之云后台管理
    meta(content='', name='description')
    meta(content='andrew', name='author')
    link(href='/favicon.ico', rel='shortcut icon')
    !=js('app')
    !=css('app')
  body.login
    .wrapper
      .login-box
        .logo
          img(src='/img/login-logo.png')
        form(accept-charset='UTF-8', action='/login', method='post')
          .fields
            input(type='text', placeholder='用户名', name='username')
            input(type='password', placeholder='密码', name='password')
          .actions
            img(src='/captcha.jpg')
            input.captcha(type='text', placeholder='验证码', name='captcha')
            button 登录