extends ../layout

block sidebar
  h1 会员管理
  ul.sidenav
    li
      a(href='/customers') 会员列表
    li.current
      a(href='/levels') 会员类别
    li
      a(href='/admins') 工作人员管理

block content
  .toolbar
    a.btn.btn-green.btn-round(href='/levels/new' , data-type='add') 添加
  .main.levels
    table
      thead
        tr
          th.span50px ID
          th.span50px 类别
          th.span50px 操作
      tbody
        each model, i in collection
          tr(class=(i % 2 == 0) ? 'odd' : 'even')
            td= model.id
            td= model.Name
            td
              a(data-type='delete', href='/levels/#{model.id}' , data-method='delete' , data-confirm='确定删除本记录?' , rel="nofollow") 删除
              a(data-type='edit'  ,href='/levels/#{model.id}/edit') 编辑
