<div class="box box-blue box-search clearfix paper-search" ng-switch='subview' ng-controller='PaperSearchCtrl' >
	<div ng-switch-when='filter'>
		<div class="field">
			<label class='left'>年级</label>
			<select ng-model='searchParams.GradeId' ng-options='grade.id as grade.Name for grade in grades' >
				<option value>全部</option>
			</select>
			<label class='middle'>题号</label>
			<input type="number"  min="1" ng-model='searchParams.Order'/>
		</div>
		<div class="field">
			<label class="left">提干关键字</label>
			<input type="text" ng-model='searchParams.Body'/>
		</div>
		<div class="field">
			<label class="left">试卷标题关键字</label>
			<input type="text" ng-model='searchParams.Name'/>
		</div>
		<div class="pull-right buttons">
			<a class="btn btn-blue" ng-click='search()'>搜索</a>
		</div>
		<table class="data-table" ng-show='papers.length'>
			<thead>
				<tr>
					<th class='span60px'>试卷来源</th>
					<th>试卷标题</th>
					<th class='span60px'>上传时间</th>
					<th class='span60px'>录入时间</th>
					<th class='span100px'></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='paper in papers' ng-class-even='"even"'>
					<td>{{{1:'录入',0:'会员上传'}[paper.Source]}}</td>
					<td>{{paper.Name}}</td>
					<td>{{paper.UpdatedAt | date: 'yy/MM/dd'}}</td>
					<td>{{paper.CreatedAt | date: 'yy/MM/dd'}}</td>
					<td>
						<a data-type='view' ng-click='preview(paper)'>查看</a>
						<a data-type="edit" ng-click='import(paper)'>选定</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-switch-when='preview'>
		<div class="pull-right">
			<button class="btn" ng-click='$parent.subview="filter"'>返回</button>
			<button class="btn btn-orange" ng-click='import(paper)'>选用</button>
		</div>
		<div ng-include='"/templates/view.html"'></div>
		<div class="pull-right">
			<button class="btn" ng-click='$parent.subview="filter"'>返回</button>
			<button class="btn btn-orange" ng-click='import(paper)'>选用</button>
		</div>
	</div>
</div>