<div class='inner'>
	<div class='meta-info'>
		<div class='title'>
			<label>试卷标题:</label>
			<input type='text' ng-model="paper.Name"/>
		</div>
		<div class='underline gray'>
			<div class='actions pull-right' ng-show='!!paper.id'>
				<button class='btn btn-blue' file-upload='paper.AudioPath' create-label='上传录音' modify-label='修改录音' ></button>
				<button class='audio btn btn-orange' audio-src='paper.audio' ng-show='!!paper.audio'></button>
			</div>
			<label>年级:</label>
			<select ng-options='grade.id as grade.Name for grade in grades' ng-model='paper.GradeId'></select>
			<label>总题数: </label>
			<input class='input-s' type='number' min="0" ng-model="paper.QuestionsTotal" ng-disabled='paper.questions.length > 0'/>
			<span>题</span>
		</div>
		<div class='gray'>
			<span>试卷ID: {{paper.CodeName}}</span>
			<span>试卷状态: </span>
			<span paper-status='paper.Status'></span>
			<span>试卷来源: {{ {true:'录入',false:'会员上传'}[paper.Source==1] }}</span>
		</div>
	</div>
	<div class="buttons" ng-show='!paper.id || paper.Status == 0 &amp;&amp; !!paper.AdminId'>
		<a ng-click='initPaper()' class='btn btn-orange big'>创建新卷子</a>
		<a ng-show='paper.$type=="CustomerPaper"' ng-click='subview="search";searchStyle={height:"42px"}' class='btn btn-blue big' ng-style='searchStyle'>搜索试卷库</a>
	</div>
	<div ng-switch='subview'>
		<div ng-switch-when='question'>
			<!-- 问题录入面板 -->
			<div class='box box-blue selector'>
			  <label class='blue'>选择已有题目:</label>
			  <select ng-model='$parent.question' ng-options='q.question as q.label for q in questionsWithLabels'></select>
			</div>
			<div ng-include='"/templates/question.html"'></div>
			<div class='buttons'>
			  <a class='btn' href='{{paper.$listPath}}'>退出</a>
			  <a class='btn btn-blue' ng-show='[5,6,8,7].indexOf(paper.Status) > -1' ng-click='paper.save()'>保存试卷</a>
			  <a class='btn btn-green' ng-show='paper.readyForAny([3,5,6,8],{finishWrongRecord: true}) &amp;&amp; paper.Status==2' ng-click='paper.save(null,{finishWrongRecord: true})'>完成错题录入</a>
			  <a class='btn' ng-hide='isLastQuestion()' ng-click='nextQuestion()'>下一题</a>
			  <a class='btn btn-orange' ng-click='saveQuestion()'>保存</a>
			  <a class='btn btn-orange' ng-hide='isLastQuestion()' ng-click='saveQuestionAndNext()'>保存并下一题</a>
			</div>
		</div>
		<div ng-switch-when='search' ng-include='"/templates/papers-search.html"' />
	</div>
</div>