<div class='inner'>
	<div class='meta-info' ng-controller='MetaCtrl'>
		<div class='title'>
			<label>试卷标题:</label>
			<input type='text' ng-model="paper.Name"/>
		</div>
		<div class='underline gray'>
			<div class='actions pull-right'>
				<button class='btn btn-blue' ng-bind="{true:'修改录音',false:'上传录音'}[!!paper.audio]"></button>
				<button class='audio btn btn-orange' audio-src='paper.audio' ng-show='!!paper.audio'></button>
			</div>
			<label>年级:</label>
			<select ng-options='grade.id as grade.Name for grade in grades' ng-model='paper.GradeId'></select>
			<label>总题数: </label>
			<input class='input-s' type='text' ng-model="$root.questionCount" ng-disabled='questions.length > 0'/>
			<span>题</span>
		</div>
		<div class='gray'>
			<span>试卷ID: {{paper.CodeName}}</span>
			<span>试卷状态: </span>
			<span paper-status='paper.Status'></span>
			<span>试卷来源: 会员上传</span>
		</div>
	</div>
	<div class='buttons' ng-show='paper.Status!=0 &amp;&amp; paper.Status!=4 &amp;&amp; paper.Meta==null'>
		 <a  ng-click='createNewPaper()' class='btn btn-orange big'>创建新卷子</a>
		 <a href='#/search' class='btn btn-blue big'>搜索试卷库</a>
	</div>
	<div ng-view class='view'></div>
</div>