<div class="inner view">
	<div class="paper-info underline-dashed">
		<div  ng-hide='readonly' class="buttons pull-right">
			<a ng-click='window.close()' class="btn">关闭</a>
			<a href='#/edit' class="btn btn-orange" ng-hide='paper.Status == 7'>编辑考卷</a>
			<button class="btn btn-cyan" ng-click='dump()' ng-show='paper.dumpable()'>存入试卷库</button>
			<button class="btn btn-cyan" ng-show='!!paper.PaperId'>已入库</button>
			<button class="btn btn-blue" ng-show='paper.$type == "CustomerPaper" &amp;&amp; paper.readyFor(7,{pushPaper:true})' ng-click='pushPaper()'>推送用户</button>
			<button class="btn btn-blue" ng-show='paper.$type == "CustomerPaper" &amp;&amp; paper.Status == 7'>已推送</button>
			<button class='btn btn-blue' file-upload='paper.AudioPath' create-label='上传录音' modify-label='修改录音' ></button>
			<button class='audio btn btn-orange' audio-src='paper.audio' ng-show='!!paper.audio' playLabel='解答录音'></button>
		</div>
		<span paper-status="paper.Status"></span>
		<span class='gray'>卷子ID: {{paper.id}}</span>
		<span class='gray' ng-show='paper.$type == "CustomerPaper"'>录入: {{paper.assignedTo.Name}} {{paper.RecoredAt |  date:'yyyy-MM-dd' }}</span>
		<!-- <span class='gray'>最后修改: </span> -->
		<h2 class="correct-rate blue"  ng-show='paper.$type == "CustomerPaper"'>正确率{{paper.CorrectRate}}%</h2>
	</div>
	<div class="paper-content">
		<h1 class="paper-body">{{paper.GradeName()}}  &nbsp; &nbsp; <b>{{paper.Name}}</b></h1>
	</div>
	<div ng-repeat='type in paper.getQuestionsGroupByTypes()' class="question-section">
		<h3>{{type.long}}</h3>
		<ol>
			<li class="question box" ng-repeat='question in type.questions' ng-class='{wrong:question.Wrong}'>
				<span math-html='question.Body' class='question-body'></span>
				<div class="box box-dashed" ng-switch='question.Type'>
					<ol class="choices" ng-switch-when='0'>
						<!-- 选择题 -->
						<li ng-repeat='choice in question.Choices' ng-class='{correct:$index==(question.Answer.charCodeAt(0)-65)}'>
							<div class='choice-body' math-html='choice.body'></div>
						</li>
					</ol>
					<div ng-switch-when='1' math-html='question.Answer'></div>
					<div ng-switch-when='2' math-html='question.Answer'></div>
				</div>
				<div class='actions'>
					<span class='wrong pull-right' ng-show='question.Wrong'>错误</span>
					<a ng-click="viewQuestion(question)" ng-show='isFinished(question)'>查看解答,知识点</a>
					<span class='missing' ng-show='missingKnowledges(question)'>缺少知识点</span>
					<span class='missing' ng-show='missingSolution(question)'>缺少解答</span>
					<button class="btn btn-orange" ng-hide='readonly' ng-click='editQuestion(question)'>修改</button>
				</div>
			</li>
		</ol>
	</div>
</div>