extends ../layout
append head
  - locals.bodyClass = 'fluid'
  !=js('customer_papers')
  !=css('jquery.iviewer')
  script(src='/jmeditor/JMEditor.js')
  script
    window.paper = !{JSON.stringify(instance)};
    window.admin = !{JSON.stringify(currentUser)};
  :qejs(models=models,instance=instance)
    <script>
      <% models.Grade.findAll() -> grades %>
        window.grades = <%-JSON.stringify(grades)%>;
      <% <- -%>
      <% instance.getFullQuestions() -> questions %>
        window.questions = <%-JSON.stringify(questions || [])%>;
      <% <- -%>
    </script>
block container
  .fluid-layout(ng-app='Paper', ng-controller="MainCtrl")
    .leftpart.raw(ng-include,src="'/templates/raw.html'")
    .rightpart.paper(ng-include,src="'/templates/recording.html'")