extends ../layout
block header

append head
  - locals.bodyClass = 'fluid'
  !=js('papers')
  script(src='/jmeditor/JMEditor.js')
  script
    window.question = !{JSON.stringify(instance)};
    window.admin = !{JSON.stringify(currentUser)};
block container
  .modal-inner(ng-app='Paper')
    .div(ng-include='"/templates/question-modal.html"')